{# app/Resources/views/regulation/regulation.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Regulamin{% endblock %}

{% block record %}
                        <p>Regulamin serwisu (29.05.2014):</p>
                        <p class="form">1. Przez dokonanie rejestracji użytkownik wyraża zgodę na przetwarzanie swoich danych osobowych, które mogą zostać użyte w celu komunikacji z użytkownikiem. Dostęp do danych firm użytkownika mają wszyscy użytkownicy serwisu. Dostęp do danych osobowych użytkownika mają wyłącznie zleceniodawcy i wykonawcy, których te dane osobowe dotyczą w związku z wykonywanymi zleceniami. Właściciel firmy ma dostęp wyłącznie do danych osobowych zlecających i polecających. Użytkownik może poznać wyłącznie dane firmy oraz polecającego, którego kod poda przy tworzeniu zlecenia. Rejestrując się użytkownik akceptuje ten stan rzeczy.</p>
                        <p class="form">2. Właściciel serwisu nie ponosi odpowiedzialności za publikowane przez użytkownika treści. Całą odpowiedzialność ponosi użytkownik. Treści użytkownika nie mogą naruszać w jakikolwiek sposób prawa oraz godności osób trzecich. Niedopuszczalne jest używanie wulgaryzmów oraz publikowanie materiałów o charakterze erotycznym. Treści niespełniające tych wymogów będą usuwane.</p>
                        <p class="form">3. Niedozwolone jest tworzenie kont w celu jakiejkolwiek manipulacji wynikami wyszukiwania serwisu. Dane powiązane z kontem użytkownika muszą odzwierciedlać stan faktyczny. Niedozwolone jest tworzenie fikcyjnych firm i podawanie fikcyjnych danych w celu dokonywania wyłudzeń i oszukańczych praktyk.</p>
                        <p class="form">4. Oceny i komentarze użytkownika muszą być szczere i przedstawiać stan faktyczny. Użytkownik zobowiązuje się dołożyć wszelkich starań, aby nie wprowadzać w błąd innych użytkowników serwisu. Złożenie zlecenia najlepiej poprzedzić zawarciem pisemnej umowy między zleceniodawcą i wykonawcą. Oceny i komentarze użytkownika mają jedynie charakter poglądowy.</p>
                        <p class="form">5. Właściciel serwisu nie ponosi odpowiedzialności za jakiekolwiek straty materialne wynikające z użytkowania serwisu. Jednocześnie informuje się, iż serwis został stworzony z maksymalną starannością o spełnienie wszelkich wymogów bezpieczeństwa przechowywanych danych. Jeśli użytkownik stwierdzi występowanie w serwisie jakichkolwiek luk bądź błędów, zobowiązuje się do przekazania tej wiedzy administracji serwisu w celu poprawy. Właściciel serwisu informuje, iż dołożył wszelkich starań, aby ewentualne straty materialne użytkownika nie miały miejsca.</p>
                        <p class="form">6. Użytkowanie tego serwisu jest i zawsze będzie w pełni darmowe.</p>
                        <p class="form">7. Na stronie można promować usługi. Nie wolno prowadzić wyłącznie sprzedaży detalicznej czy hurtowej.</p>
                        <p class="form">8. Regulamin serwisu może zostać zmieniony, o czym informuje data ostatniej aktualizacji regulaminu. Użytkownik zobowiązuje się do przestrzegania regulaminu.</p>
{% endblock %}
