{# app/Resources/views/privacy/privacy.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Prywatność (Polityka Prywatności){% endblock %}

{% block record %}
                        <p>Postanowienia początkowe</p>
                        <p class="form">Serwis przywiązuje wagę do ochrony prywatności swoich użytkowników. W tym celu stworzyliśmy tę Politykę Prywatności, która gwarantuje gromadzenie i przetwarzanie danych osobowych zgodnie z prawem. Serwis nie ponosi odpowiedzialności za ochronę danych gromadzonych przez inne serwisy, do których linki znajdują się na stronie.</p>
                        <p>Założenia Polityki Prywatności</p>
                        <p class="form">Serwis ściśle przestrzega Ustawy o Ochronie Danych Osobowych. Dane są gromadzone i przetwarzane wyłącznie w celach określonych regulaminem. Dane osobowe nie są udostępniane innym podmiotom z wyjątkiem sytuacji, które są określone regulaminem. Użytkownik ma możliwość wglądu i edycji swoich danych osobowych. Gdy użytkownik wyrazi życzenie, aby zakończyć współpracę z serwisem, następuje natychmiastowe zaprzestanie przetwarzania danych osobowych.</p>
                        <p>Rodzaj przechowywanych danych</p>
                        <p class="form">W związku z rejestracją w serwisie wymagane jest podanie imienia i nazwiska, danych adresowych oraz adresu e-mail. Jeśli użytkownik dodaje firmę, musi podać jej nazwę oraz miejsce działalności i e-mail. Każdemu użytkownikowi przysługuje prawo do wglądu i edycji podanych danych osobowych.</p>
                        <p>Sposób wykorzystania zgromadzonych danych</p>
                        <p class="form">Dane gromadzone w serwisie są wykorzystywane do rejestracji, przesyłania wiadomości systemowych na adres e-mail i komunikacji z użytkownikiem, udostępniania danych osobowych w celu umożliwienia stronom komunikacji w ramach wykonywanych zleceń. Serwis analizuje logi i adresy IP użytkowników w celach administracyjnych i statystycznych.</p>
                        <p>Zakres udostępniania danych osobowych</p>
                        <p class="form">Serwis nie udostępnia zgromadzonych danych osobowych użytkowników podmiotom trzecim, o ile nie dotyczy to wykonywanych przez nie zleceń. Dane firm widzą wszyscy użytkownicy serwisu. Serwis ma obowiązek odtajnienia danych osobowym na wniosek organów uprawnionych (policja, prokuratura, sądy, itp.).</p>
                        <p>Ciasteczka (cookies)</p>
                        <p class="form">Serwis wykorzystuje ciasteczka (cookies). Są to niewielkie pliki tekstowe zapisywane przez serwer na komputerze użytkownika serwisu. Są one wykorzystywane do prawidłowego wyświetlania reklam na stronie oraz poprawnego działania systemu logowania. Pliki te nie przechowują żadnych danych poufnych poza loginem i zakodowanych hasłem użytkownika, które są wymagane do prawidłowego logowania. Korzystanie z ciasteczek nie oznacza odtajnienia danych osobowych ani żadnych informacji poufnych z komputera użytkownika. Użytkownik ma w każdej chwili możliwość zablokowania ciasteczek w ustawieniach przeglądarki stron internetowych. Pliki ciasteczek mogą być również wykorzystywane przez współpracujących z serwisem reklamodawców oraz partnerów. Właściciel serwisu nie bierze odpowiedzialności za zawartość plików ciasteczek wysyłanych przez inne strony internetowe, do których linki są umieszczone w serwisie.</p>
                        <p>Wyłączenie odpowiedzialności</p>
                        <p class="form">Polityka Prywatności serwisu nie dotyczy reklam, firm, serwisów i stron WWW, do których linki są umieszczane na stronie. Polityka Prywatności wyłącza również ten zakres działalności serwisu, który wymaga przekazania danych osobowych podmiotom trzecim w związku z wykonywanymi zleceniami. Wytyczne dotyczące przekazywania danych osobowych w związku z wykonywanymi zleceniami określa regulamin.</p>
{% endblock %}
